{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}
    <!-- <h1>Index</h1> -->
    <!-- <p class="important">
      Welcome to my awesome homepage.
    </p>
    <p>
      Music is often deeply emotional. It can convey an almost endless range of feeling.
      It's often used as a coping strategy for anxiety or stress. Many people report improvements in mood and motivation after listening to energizing music. It may even help you express emotions and find deeper insight.
      Still, it won't get to the heart of what's causing your distress.
      Keep in mind that listening to music that matches your mood can also intensifyTrusted Source that mood — for better or worse. Sometimes this can help.


      ses on humans, stimulating distinctive moods and fostering an ambience of enhanced feelings. Dopamine, a chemical in our brain, is triggered when music hits our senses. The reaction we reciprocate all depends on how that genre of music makes us feel.

    </p>

    <p>
      Music is often deeply emotional. It can convey an almost endless range of feeling.
      It's often used as a coping strategy for anxiety or stress. Many people report improvements in mood and motivation after listening to energizing music. It may even help you express emotions and find deeper insight.
      Still, it won't get to the heart of what's causing your distress.
      Keep in mind that listening to music that matches your mood can also intensifyTrusted Source that mood — for better or worse. Sometimes this can help.


      Tunes evoke neurological responses on humans, stimulating distinctive moods and fostering an ambience of enhanced feelings. Dopamine, a chemical in our brain, is triggered when music hits our senses. The reaction we reciprocate all depends on how that genre of music makes us feel.

    </p>


    <p>
      Music is often deeply emotional. It can convey an almost endless range of feeling.
      It's often used as a coping strategy for anxiety or stress. Many people report improvements in mood and motivation after listening to energizing music. It may even help you express emotions and find deeper insight.
      Still, it won't get to the heart of what's causing your distress.
      Keep in mind that listening to music that matches your mood can also intensifyTrusted Source that mood — for better or worse. Sometimes this can help.


      imulating distinctive moods and fostering an ambience of enhanced feelings. Dopamine, a chemical in our brain, is triggered when music hits our senses. The reaction we reciprocate all depends on how that genre of music makes us feel.

    </p> -->

    

{% endblock %}