:root{--background-color: #1d8a99ff;
--primary-color: #eb4b98ff;
--magnolia: rgb(254, 254, 254);
--nav-color: #004385ff;
--cerulean-crayola: #05b2dcff;}

body{
    background-color: var(--magnolia);
    /* color: var(--magnolia); */
    font-family: 'Montserrat', sans-serif;;
}

/* .keyfeature{
    text-align:center;
}
.keyfeature ul li{
    display:inline;
 
  } */

