{% macro navbar() -%}
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:aqua ;">
  <div class="container">
    <!-- <span class="navbar-text   ">
      Navbar text with an inline element
    </span> -->
    <a class="navbar-brand" href="#">Emotion music player/youtube voice control</a>
    <div class="container"> 
      
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav me-auto ms-5 mb-lg-0">
      
        <li class="nav-item ">
          <a class="nav-link active " aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">Dataoverview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="demo">Demo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="project">Contact</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
{%- endmacro %}